<header>
  <h1>Events</h1>
</header>

<section>
  <section class="event-list">
    <% @events.each do |event| %>
      <%= link_to event, class: "clean-anchor event-card" do %>
        <div class="artist"><%= event.artist %></div>
        <div class="description"><%= event.description %></div>
        <div class="date"><%= event.event_date %></div>
        <div class="price">from <%= number_to_currency(event.price_low) %> to <%= number_to_currency(event.price_high) %></div>
      <% end %>
    <% end %>
  </section>
</section>

<footer>
  <%= link_to 'Add new Event', new_event_path, class: "clean-anchor" %>
</footer>
