<header>
  <h1>Event</h1>
</header>

<section>
  <div class="event-card">
    <div class="artist"><%= @event.artist %></div>
    <div class="description"><%= @event.description %></div>
    <div class="date"><%= @event.event_date %></div>
    <div class="price">from <%= number_to_currency(@event.price_low) %> to <%= number_to_currency(@event.price_high) %></div>
  </div>

  <div class="accordion" id="accordionExample">

    <div class="card">
      <div class="card-header" id="headingOne">
        <a class="clean-anchor selectable-anchor collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Tickets
          <span style="margin-left: auto">
            <%= @event.tickets.length %>
          </span>
        </a>
      </div>

      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <%= render "tickets_list", tickets: @event.tickets %>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingTwo">
        <a class="clean-anchor selectable-anchor collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Reserve ticket
        </a>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          <% if current_user&.id.nil? %>
          You must be logged first!
          <%  else  %>
            <%=   render "new_ticket", ticket: Ticket.new(:event_id => @event.id) %>
          <% end %>
        </div>
      </div>
    </div>

  </div>

</section>

<footer>
  <%= link_to 'Back to event list', events_path, class: "clean-anchor" %>
</footer>